const int f = 15;
function: void main()
{
    int a = 5;
    int b = 6;
    int c = 15;
    const int d = 100;
    if(c > a)
    {
        cout << c << " > " << a << " ? " << endl;
        cout << "OK _ MUST BE PRINTED OUT" << endl;
        cout << "New value of a : ";
        a = 100;
        cout << "----> New a = " << a << endl;
        cout << "OK _ MUST EXIT HERE" << endl;
        exit (d + f);
        cout << "ERROR#4 _ MUST NOT BE PRINTED OUT" << endl;
    }

    cout << "ERROR#1 _ MUST NOT BE PRINTED OUT" << endl;
}
